<div class="ftr">
  <p>
      <%= link_to 'home', '#top' %> &nbsp;|&nbsp;
      <%= link_to 'about', '#about' %> &nbsp;|&nbsp;
      <%= link_to 'meet us', '#meet' %> &nbsp;|&nbsp;
      <%= link_to 'contact', '#contact' %>
  </p>
  <p>
    Copyright &copy; 2014
  </p>
</div>