<div class="hdr">
  <div class="cnt">
    <div class="hdr_logo">Geek<em>HQ</em></div>
    <ul id="mmenu">
      <li class="m_top scrl"><%= link_to 'Home', '#top' %></li>
      <li class="m_about"><%= link_to 'About', '#about' %></li>
      <li class="m_meet"><%= link_to 'Meet Us', '#meet' %></li>
      <li class="m_contact"><%= link_to 'Contact', '#contact' %></li>
    </ul>
    <ul id="mbut"><li></li><li></li><li></li><li></li></ul>
  </div>
</div>
